[mysqld]
default_authentication_plugin=mysql_native_password

slow_query_log=1
slow_query_log_file=/var/log/mysql/mysqlslow.log
long_query_time=0

log_error_suppression_list=MY-013360

innodb_flush_log_at_trx_commit = 2
disable-log-bin = 1
